---
const pageTitle = "My blog";
import Title from "../components/Title.astro";
import Header from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Title />
    <Header />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at est quis sapien commodo dapibus. Morbi sodales arcu ante, eu pellentesque libero ultricies id. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Integer et facilisis lorem, vel rutrum ligula. Nulla sit amet sem in ipsum convallis aliquam. Donec a mattis massa. Donec efficitur tempor faucibus. Nulla suscipit at lorem eget condimentum. Nunc ac est scelerisque, congue ligula ac, rhoncus nisl. Proin varius urna quis nibh venenatis mollis. Suspendisse consequat auctor leo, eu ultrices risus aliquet eu. Ut eget scelerisque libero.

      Aliquam efficitur magna nec orci convallis luctus. Aliquam malesuada lobortis diam, ut vehicula nibh aliquam ut. Donec iaculis tortor id enim mollis dignissim. Nullam et lorem lacinia, sagittis nibh sit amet, imperdiet nisi. Quisque a turpis lacus. Praesent elementum neque nec scelerisque ultrices. Quisque lacinia, neque id maximus auctor, sapien est iaculis dui, ac imperdiet urna ligula et augue. Aenean nec dolor eu dui varius feugiat in luctus ex. Duis nisi urna, porttitor nec mi et, egestas vestibulum magna. Sed nec turpis nibh. Sed vitae volutpat felis, vel pulvinar diam. Nulla eget augue felis. In quam eros, consequat sollicitudin mi at, tincidunt luctus est. Aenean maximus justo risus, vel dignissim urna pretium ut.

      Duis sed placerat ligula. Donec consectetur dui suscipit nunc feugiat, convallis convallis augue convallis. Suspendisse vitae efficitur tortor. Morbi et ullamcorper mauris. Suspendisse id aliquam quam. Duis hendrerit augue at urna varius, vel pellentesque est condimentum. Vivamus quis odio sit amet orci faucibus malesuada. Praesent fermentum pretium suscipit. Integer convallis, orci quis aliquet ultrices, orci eros porttitor enim, ut tempus purus dui vitae turpis. Nullam pellentesque nibh in dolor pulvinar venenatis.

      Vivamus vulputate porttitor condimentum. In dictum, magna nec fringilla eleifend, odio nibh ornare turpis, sed vulputate risus arcu ut ligula. Etiam felis arcu, hendrerit id dui ac, scelerisque imperdiet leo. Nullam vel neque fermentum, semper nisl sed, cursus massa. Morbi euismod eu justo a rhoncus. Sed elementum laoreet arcu vitae vehicula. Mauris luctus consequat tincidunt. Ut vestibulum pharetra metus, a sodales ante bibendum quis. Integer nulla est, viverra vel est quis, iaculis commodo risus. Vestibulum pellentesque tortor id suscipit pellentesque. Integer et nisl ut odio viverra molestie quis sed lectus.

      Ut elementum neque ut consequat pretium. Proin mattis, erat in viverra facilisis, sapien lacus cursus metus, sit amet semper sapien urna eget orci. Aliquam malesuada mattis lectus consectetur condimentum. Aenean mattis sodales est at dictum. Etiam tincidunt maximus justo vel dignissim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Donec porttitor sodales lacus eget tempor. Ut pharetra dapibus consectetur.
    </p>
  </body>
</html>