---
const pageTitle = "My blog";
import Title from "../components/Title.astro";
import Header from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Title />
    <Header />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur tempus, lacus eu faucibus rhoncus, turpis massa feugiat nibh, vel ultricies orci metus ut quam. Phasellus at metus vel tellus lobortis interdum. Mauris varius eu quam ut dapibus. Praesent sed nunc nisl. Suspendisse dolor tellus, volutpat ac pharetra vel, eleifend mattis leo. Proin a odio augue. Donec vestibulum turpis in purus accumsan hendrerit. Aenean ultricies magna vitae lorem ultrices, nec interdum augue pharetra. Sed volutpat nibh vitae justo feugiat, quis sodales urna pretium. Praesent eleifend rhoncus orci, eu vulputate orci molestie eget. Duis et varius tellus.

      Mauris a egestas enim. Donec dictum hendrerit ante ut lacinia. Nam vehicula purus quis nunc facilisis, ac interdum neque blandit. Nam ac efficitur orci, non ultrices purus. Nulla rutrum ipsum felis, vitae pulvinar velit lacinia ut. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris ac est non metus sagittis mattis vitae non nulla. Donec vestibulum non magna et tincidunt. Cras ultricies felis quis ex congue pellentesque. Nunc vitae purus varius sem ornare varius. Sed non mauris posuere, cursus tellus at, cursus augue. Vestibulum et dictum tellus, elementum tempor nisl. Aliquam vel augue a orci viverra feugiat et non est. Cras commodo ante eu lacus tempor efficitur. Maecenas ex arcu, rhoncus in ex sed, posuere tincidunt tortor. Phasellus vitae sagittis nisl, et rhoncus mauris.

      Nunc erat elit, vehicula et bibendum vel, consequat vel nisi. Nam nec nisl vel eros pulvinar hendrerit. Vestibulum imperdiet lacus quis nulla egestas, eu luctus tortor ornare. Suspendisse nec volutpat nibh. Ut tempor lectus euismod, maximus ipsum at, sodales mauris. Vivamus ut lorem nec ipsum luctus fringilla. Ut nec lacus vel purus ultrices fringilla sed nec turpis. Pellentesque porttitor ac ipsum at semper. Sed bibendum tincidunt lacus sed egestas. Duis eu accumsan diam. Suspendisse lacinia massa ut viverra dignissim. Morbi finibus lacus nec venenatis luctus. Nullam non mattis justo. Suspendisse non dui sed diam mattis faucibus id in nunc.

      Nulla facilisis, mauris eget facilisis consequat, enim metus blandit erat, vel venenatis metus velit sed erat. Aliquam quis pulvinar diam. In vel congue nisi. Donec vitae commodo lectus, sit amet ultrices quam. Mauris id metus non quam porta sodales. Integer id bibendum sem, a blandit est. Vestibulum imperdiet ac massa eu commodo. Vestibulum ornare, ante et ornare accumsan, eros purus finibus magna, in malesuada mauris quam sit amet magna. Fusce non diam a sapien tincidunt consequat. Aliquam eget tellus mi. Sed tincidunt nulla est.

      Vestibulum eu fermentum eros. Etiam posuere velit diam, in aliquet lectus bibendum vel. Etiam viverra odio a elit viverra congue. Suspendisse pulvinar nibh ac lectus mollis feugiat. Pellentesque quam mauris, elementum eu diam in, scelerisque luctus lectus. Fusce vel ligula enim. Nulla libero nunc, rutrum eget interdum non, facilisis id dolor. In ultricies lacus vitae ante dapibus, in elementum leo aliquet. Donec sollicitudin justo a odio tempus fermentum. Sed egestas, metus at lobortis mollis, elit sapien sagittis ex, et posuere velit nulla laoreet elit. Suspendisse a lobortis est, ac placerat ligula. Interdum et malesuada fames ac ante ipsum primis in faucibus. In commodo fermentum est quis imperdiet.
    </p>
  </body>
</html>