<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>No challenge ideas</title>
</head>
<body>
    <h1>Welcome !</h1>
    <p>I have no idea to what to do but you can send me your challenge idea here thanks.</p>
    <form method="GET" action="file_upload">
        <button>Go to file upload</button>
    </form>
    <p>
        
    </p>
    <form method="GET" action="list_files">
        <button>List of uploaded files</button>
    </form>
    <p>Thank you for your help !</p>
</body>
</html>
