---
const pageTitle = "My blog";
const flag = 'dvCTF{71M1N64774CK1ND3N009738193647305903741}'
import Header from "../components/Header.astro";
import '../styles/global.css';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <br><h1>Admin panel</h1>
    <Header />
    <p>Well played ! The flag is : {flag}</p>
  </body>
</html>