---
---
<div>
    <a href="/">Home</a>
    <a href="/who_am_I">Who am I ?</a>
    <a href="/posts">Posts</a>
    <a href="/goals">Goals</a>
    <a href="/schedule">Class Schedule</a>
    <a href="/videos">Videos</a>
    <a href="/micro_app">Micro app</a>
    <a href="/glossary">Glossary</a>
    <a href="/contact">Contact</a>
    <a href="/admin">Admin panel</a>
</div>