---
const pageTitle = "My blog";
import Title from "../components/Title.astro";
import Header from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Title />
    <Header />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam aliquet non tortor eget laoreet. Aliquam erat volutpat. Praesent placerat posuere eros a pellentesque. Mauris sit amet eleifend purus. Maecenas imperdiet purus ipsum, at blandit purus ultricies sed. Nunc vehicula arcu a mauris egestas, vitae ornare tortor fringilla. Vivamus nulla leo, semper et metus et, varius malesuada quam. Ut rutrum risus quis magna vehicula, vel mollis enim hendrerit. Maecenas bibendum non odio sit amet cursus. Duis porttitor lectus a mauris vulputate malesuada. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Duis condimentum rutrum elementum.

      Fusce fermentum vehicula arcu eu efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas eget vehicula quam. Cras vel fringilla justo, in sagittis nisi. Nullam a enim ac leo feugiat consectetur. Fusce in finibus leo. Morbi augue enim, mollis at aliquet nec, mollis vel ipsum. Pellentesque vestibulum porttitor massa, in ultricies urna maximus sit amet. Duis a sagittis ex, eget rutrum neque. Fusce fermentum, massa vitae ultricies volutpat, magna tortor lobortis diam, in imperdiet dui ipsum id diam. Nullam sapien turpis, interdum ac ex id, posuere volutpat dolor. Sed vel euismod quam, a elementum mi.

      In varius velit augue, vel aliquet mauris auctor ac. Fusce ultricies vitae tortor vel consequat. Fusce non diam lorem. Fusce at ornare lorem. Nullam lacinia sit amet urna a egestas. Nullam tortor magna, sagittis vitae vestibulum sit amet, luctus sed orci. Proin aliquet tortor vel elit faucibus, quis pellentesque nibh fringilla. Etiam id nibh lacinia, pharetra nisi mattis, interdum lectus.

      Nulla ac diam ipsum. Vivamus hendrerit rutrum nulla sit amet accumsan. Etiam suscipit rutrum molestie. Praesent gravida tortor nec quam tempus, vitae efficitur dolor maximus. Nulla faucibus ultricies neque, sit amet faucibus ipsum iaculis vitae. Nam lacinia, diam ac rhoncus blandit, eros ipsum vestibulum mi, nec pulvinar elit odio at augue. Donec eget orci efficitur, vehicula leo eget, viverra turpis. Nunc consequat fringilla quam, a molestie neque. Suspendisse tincidunt lacinia semper. Integer sed leo sed velit suscipit rutrum. Phasellus eget lectus quis lacus accumsan venenatis.

      Aliquam ac turpis ac sapien mollis accumsan. Curabitur sagittis, mi sit amet pharetra porta, massa ex ullamcorper magna, eget consectetur tortor sem eget nulla. Morbi sit amet nisi scelerisque tortor iaculis lobortis. In eu posuere risus. Donec lorem mauris, porttitor at varius vitae, suscipit eget diam. Nam nulla odio, pretium non lectus sit amet, mollis tincidunt ante. Phasellus sed leo sollicitudin, dignissim purus eget, egestas tortor. Nam dignissim eget ex eget tempus.
    </p>
  </body>
</html>