---
const pageTitle = "My blog";
import Title from "../components/Title.astro";
import Header from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Title />
    <Header />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc et erat nulla. Aenean suscipit, ipsum at eleifend aliquet, nunc lacus feugiat magna, vel condimentum nisl turpis ac quam. Phasellus urna nisi, vulputate quis massa et, suscipit eleifend libero. Vivamus porta, tortor quis aliquam laoreet, nunc diam consequat neque, non lacinia erat ligula ac dolor. Sed commodo condimentum auctor. Quisque eget eros eget turpis faucibus pellentesque sed at velit. Pellentesque bibendum lectus quis rhoncus mollis. Etiam laoreet tellus et massa commodo fringilla. Sed imperdiet arcu ultrices malesuada faucibus. Maecenas id ligula fringilla, malesuada dolor eget, luctus augue.

      Sed consequat molestie leo, non molestie felis. Nulla cursus a ligula nec lobortis. Nam posuere tellus at eros faucibus, hendrerit congue metus sollicitudin. Sed nec libero eget sapien laoreet auctor ultricies ut diam. Aliquam scelerisque volutpat diam non dignissim. Fusce ut rhoncus sapien. Vivamus tellus tortor, dignissim vitae varius id, pharetra sed lorem. Maecenas nec augue dui. Aenean posuere iaculis ipsum in tempor. Duis sodales scelerisque lectus tincidunt efficitur.
      
      Nunc non nibh varius, egestas dolor non, ullamcorper quam. Donec luctus vel nulla ut rhoncus. Curabitur pretium quis arcu sed auctor. Phasellus arcu dui, luctus in posuere non, dapibus a ex. Proin cursus neque vestibulum, ornare lectus ut, lacinia nunc. Maecenas elementum facilisis eros aliquam luctus. Integer vel accumsan erat. In pretium ultricies mi, sit amet imperdiet dolor. Fusce convallis augue id elementum euismod. Quisque mattis sem id ultricies ultrices. In hac habitasse platea dictumst. Nulla facilisi. Mauris accumsan lacus vel odio sollicitudin auctor.
      
      Suspendisse a porta nulla. Nullam sed mauris ut libero sodales condimentum. Quisque non faucibus sem, a elementum arcu. Maecenas gravida libero quis ultricies malesuada. Aliquam diam tellus, molestie quis aliquet quis, dapibus a mi. Cras consectetur tellus gravida sem condimentum rutrum. Etiam aliquam eros eget enim fermentum vestibulum. Vestibulum varius sodales diam, eget sodales ligula ultrices id. Donec in ornare ante.
      
      Vivamus eu odio vel libero facilisis dignissim sed a libero. Quisque ipsum est, vestibulum nec sapien ut, finibus malesuada dolor. Aliquam at ullamcorper orci. Donec cursus mauris nibh, ut vestibulum urna consequat quis. Duis vitae sem eget nisi pellentesque consequat. Donec ullamcorper pharetra turpis, sed pharetra diam efficitur maximus. Suspendisse est arcu, consectetur et rutrum vel, scelerisque ut magna. Etiam eu eros ut nisl rhoncus viverra. Aliquam ut mi eu est efficitur mollis eu a lorem. Proin quis pellentesque magna, eu ullamcorper dui. Integer in mi non mauris bibendum vehicula nec sit amet nisl. Nulla sed consectetur risus, eu hendrerit massa.
    </p>
  </body>
</html>