---
const pageTitle = "My blog";
import Title from "../components/Title.astro";
import Header from "../components/Navigation.astro";
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <Title />
    <Header />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam faucibus dolor libero, non sollicitudin sapien lobortis ac. Etiam egestas quam convallis urna fermentum, quis accumsan tortor consectetur. Aenean laoreet consectetur ex id pulvinar. Aliquam dictum at magna non aliquet. Suspendisse molestie id nisi nec pulvinar. Nullam molestie mollis luctus. Suspendisse potenti. Vestibulum justo ligula, condimentum iaculis risus eu, ornare euismod neque.

      Donec vitae ex sollicitudin, pretium massa sit amet, rutrum sem. Sed dapibus justo et felis pulvinar pulvinar. Nam eu eros nibh. Donec tempor felis sit amet tincidunt faucibus. Praesent egestas hendrerit cursus. Donec sem mi, ullamcorper eu laoreet nec, cursus vitae lacus. Phasellus a metus nec dolor suscipit tempus ut nec elit. Curabitur luctus ligula sed mauris gravida elementum.

      Aliquam erat volutpat. Suspendisse aliquam imperdiet tempor. Nunc bibendum viverra ipsum, nec facilisis elit mattis sit amet. Sed et massa eget neque faucibus hendrerit. Suspendisse sollicitudin viverra dolor in venenatis. Nam hendrerit sed velit vel varius. Phasellus tincidunt consequat lacus, sed consequat neque commodo ut. Curabitur laoreet in ex sit amet condimentum. Aenean vitae tempor nisl.

      Sed eget dui sit amet justo posuere pulvinar. Maecenas vehicula tristique felis ac porta. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis dignissim nulla. Integer rhoncus sit amet felis nec faucibus. Etiam commodo lectus tortor. Curabitur consectetur lorem at neque lobortis, varius eleifend enim viverra.

      Suspendisse diam dui, luctus vel metus non, cursus ultrices justo. Aliquam erat volutpat. Sed velit sem, commodo vel luctus nec, scelerisque nec nulla. Nam id gravida nisi. Aenean elementum auctor lacus sed faucibus. Aliquam eleifend mattis velit quis rhoncus. In dapibus ligula ut libero venenatis iaculis. Fusce ac commodo ex. Suspendisse pellentesque iaculis mattis. Vestibulum dapibus tellus luctus magna tempus facilisis. Quisque lorem nunc, suscipit in elementum a, viverra hendrerit leo. Proin vitae diam sit amet massa pellentesque ultricies a pellentesque nulla.
    </p>
  </body>
</html>