---
const pageTitle = "My blog";
const flag = 'dvCTF{457r04NDD3N054ND80X47836189437}'
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type ="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <title>{pageTitle}</title>
  </head>
  <body>
    <h1>My admin panel</h1>
    <p>Well played ! The flag is : {flag}</p>
  </body>
</html>