@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  background-color: #121212;
  color: #c8c8c8;
  font-family: 'Roboto', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-button,
.signup-button {
  border: none;
  border-radius: 10px;
  padding: 15px 25px;
  font-size: 20px;
  color: white;
  cursor: pointer;
  transition: 0.3s;
  margin: 0 10px;
}

.login-button {
  background-color: #ffa500;
}

.signup-button {
  background-color: #ffa500;
}

.login-button:hover,
.signup-button:hover {
  background-color: #333333;
}

.login-button:active,
.signup-button:active {
  transform: translateY(2px);
}

h1 {
  text-align: center;
  font-size: 48px;
}

p {
  text-align: center;
  font-size: 24px;
}

.signup-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  width: 500px;
}

label,
input[type="text"],
input[type="password"] {
  display: block;
  width: 100%;
  font-size: 16px;
}

input[type="text"],
input[type="password"] {
  margin-bottom: 10px;
  padding: 12px;
  border: 1px solid #c8c8c8;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type="submit"] {
  width: 100%;
  background-color: #ffa500;
  color: #c8c8c8;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #333333;
}